
        <h1 class="h2">Notification Rules</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
          
              <th>Application</th>
              <th>Pattern</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Messenger</td>
              <td>Short</td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary mr-1"><span data-feather="x-square"></span></button><button type="button" class="btn btn-sm  btn-outline-secondary"><span data-feather="edit"></span></button></td>
            </tr>
            <tr>
              <td>Facebook</td>
              <td>Long</td>
                            <td><button type="button" class="btn btn-sm btn-outline-secondary mr-1"><span data-feather="x-square"></span></button><button type="button" class="btn btn-sm  btn-outline-secondary"><span data-feather="edit"></span></button></td>

            </tr>
            <tr>
              <td>What's App</td>
              <td>Short</td>
                            <td><button type="button" class="btn btn-sm btn-outline-secondary mr-1"><span data-feather="x-square"></span></button><button type="button" class="btn btn-sm  btn-outline-secondary"><span data-feather="edit"></span></button></td>

            </tr>
            <tr>
              <td>* </td>
              <td>Dashed Short</td>
                            <td><button type="button" class="btn btn-sm btn-outline-secondary mr-1"><span data-feather="x-square"></span></button><button type="button" class="btn btn-sm  btn-outline-secondary"><span data-feather="edit"></span></button></td>

            </tr>
          </tbody>
        </table>
      </div>
<form>
<div class="row ml-0">
<div class="form-group mr-1">
  <label for="usr">Application Name:</label>
  <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
  <label for="sel1">Pattern:</label>
  <select class="form-control" id="sel1">
    <option>Short</option>
    <option>Long</option>
    <option>Short Dashed</option>
    <option>Long Dashed</option>
  </select>
</div>
</div>
<button type="submit" class="btn btn-primary">               
 Add
</button>
</form>

<script type="text/javascript">
(function () {
    'use strict'
    feather.replace()
}())
</script>